@use "../abstract/functions" as f;

.label {
  font-size: f.rem(13.17);
  line-height: 1.75;

  &--primary {
    color: var(--cl-gray-6);
  }

  &--secondary {
    color: var(--cl-dark-gray-1);
  }

  &--tertiary {
    color: var(--cl-dark-gray-2);
  }

  &--quaternary {
    color: var(--cl-dark-gray-3);
  }

  &--light-primary {
    color: var(--cl-dark-gray-6);
  }

  &--light-secondary {
    color: var(--cl-dark-gray-3);
  }

  &--light-tertiary {
    color: var(--cl-dark-gray-2);
  }

  &--light-quaternary {
    color: var(--cl-dark-gray-1);
  }
}