:root {
  /* Neutral */
  --cl-white: #FFF;
  --cl-black: #000;

  /* light */
  /** System Colors **/
  --cl-red: #FF3B2F;
  --cl-orange: #FF9500;
  --cl-yellow: #FFCC02;
  //--cl-green: #27CD41;
  --cl-green: #659a3e;
  --cl-green-2: #1DC337;
  --cl-blue: #007AFF;
  /** System Gray Colors **/
  --cl-gray-1: #8E8E93;
  --cl-gray-2: #AEAEB2;
  --cl-gray-3: #C7C7CC;
  --cl-gray-4: #D1D1D6;
  --cl-gray-5: #E5E5EA;
  --cl-gray-6: #F2F2F7;

  /* dark */
  /** Dark System Colors **/
  --cl-dark-red: #FF453A;
  --cl-dark-orange: #FF9F0A;
  --cl-dark-yellow: #FFD60A;
  //--cl-dark-green: #30D158;
  --cl-dark-green: #77B84B;
  --cl-dark-green-2: #3CE155;
  --cl-dark-blue: #0A84FF;
  /** Dark System Gray Colors **/
  --cl-dark-gray-1: #8E8E93;
  --cl-dark-gray-2: #636366;
  --cl-dark-gray-3: #48484A;
  --cl-dark-gray-4: #3A3A3C;
  --cl-dark-gray-5: #2C2C2E;
  --cl-dark-gray-6: #1C1C1E;
}