@use "../../abstract/functions" as f;
@use "../../abstract";

article {
  //max-width: f.em(600);
  display: flex;
  flex-direction: column;
  gap: f.rem(16);
  padding: f.rem(16);

  @include abstract.sm {
    padding: f.rem(16) f.rem(96);
  }
}

.article-header {
  display: flex;
  flex-direction: column;
  gap: f.rem(8);

  figure {
    margin: f.rem(16) 0;
    img {
      margin: f.rem(8) 0;
      object-fit: cover;
    }
  }
}